*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
   font-family: 'open sans';
   background-color: #222831;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color: #FFD369;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
 }

 header{
    width: 100%;
    height: 600px;
    background: #222831;  
    background: -webkit-linear-gradient(to right, #04697ea1, #03045Eab), url(./Fotos/IMG_6963.JPG);  
    background: linear-gradient(to right, #04697ea1, #03045Eab), url(./Fotos/IMG_6963.JPG);
    background-size: cover;
    background-attachment: fixed;
    position: relative;

 }

 header .textos-superior{
   display: flex;
   height: 80px;
   width: 100%;
   align-items: flex-start;
   justify-content: left;
   flex-direction: row;
   text-align: center;
 }

 .textos-superior h2{
   font-size: 25px;
   padding: 15px 25px 0px 25px;
   color: #EEEEEE;
 }

 .header a{
   color: #EEEEEE;
   text-decoration: none;
}

.header a:hover{
  tab-size: 12px;
  text-decoration: underline;
  text-decoration-color: #EEEEEE;
  color: #EEEEEE;
}

 header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
 }

 .textos-header h1{
    font-size: 50px;
    color: #EEEEEE;
 }

 .textos-header h2{
    font-size: 25px;
    color: #EEEEEE;
 }

 .wave{
    position: absolute;
    bottom: 0;
    width: 100%;
 }





 .contenedor-acerca-del-proyecto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }

 .imagen-acerca{
    width: 48%;
 }

 .contenedor-acerca-del-proyecto .contenedor-texto {
    width: 48%;
 }

 .contenedor-texto h3{
    margin-bottom: 15px;
    color: #EEEEEE;
    text-align: center;
 }

 .contenedor-texto h3 span{
    background: #FFD369;
    color: #EEEEEE;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 0px;
 }

 .contenedor-texto p{
    padding: 15px 0px 35px 0px;
    font-weight: 300;
    text-align: justify;
    color: #EEEEEE;
 }


 .chicos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
 }

.imagen-chicos{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}

.imagen-chicos > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}



footer{
    background: #393E46;
    padding: 90px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #EEEEEE;
}

.content-foot{
    text-align: center;
}

.content-foot h4{
    color: #EEEEEE;
    border-bottom: 3px solid #FFD369;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foot a{
    color: #EEEEEE;
    text-decoration: none;
}

.content-foot a:hover{
   tab-size: 12px;
   text-decoration: underline;
   color: #FFD369;
}

.content-foot p{
   color: #EEEEEE;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #EEEEEE;
}

@media screen and (max-width:900px){

}